<% if params[:query].present? %>
  <div class="container">
    <div class="media-cards">
      <h4>Nos résultats pour <strong><%= params[:query] %></strong></h4>
      <div class="row">
        <% @medias.each do |media| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to media_path(media) do %>
                <% if media.category.name == "Vidéo" %>
                  <%= video_tag media.photos.first.url, class: "media-card" %>
                <% else %>
                  <div class="media-card" style="background-image: url('<%= cl_image_path media.photos.first.url, crop: :scale, width: 400;%>'); background-size: cover;">
                    <div class="media-overlay text-center">
                      <span>
                        <h4><%= media.title.capitalize %></h4>
                        <p><%= media.artist.name.capitalize %></p>
                      </span>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="categories-bar">
    <% @categories.each do |category| %>
      <%= link_to category.name.upcase + 'S', category_path(category) %>
    <% end %>
  </div>
<div class="container">
  <div class="media-cards">
      <% @categories.each do |category| %>
        <div class="category-title">
          <h3><%= link_to category.name.capitalize + 's', category_path(category), class: 'categ-link' %></h3>
          <div class="red-square"></div>
        </div>
        <div class="category-row">
          <% @medias.select{ |media| media.category == category}.each do |media| %>
              <%= link_to media_path(media) do %>
              <% if media.category.name == "Vidéo" %>
                  <%= video_tag media.photos.first.url, class: "media-card" %>
              <% else %>
                <div class="media-card" style="background-image: url('<%= cl_image_path media.photos.first.url, crop: :scale, width: 400;%>'); background-size: cover;">
                  <div class="media-overlay text-center">
                    <span>
                      <h4><%= media.title.capitalize %></h4>
                      <p><%= media.artist.name.capitalize %></p>
                    </span>
                  </div>
                </div>
                <% end %>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% if current_user.subscription_type.level < 3 %>
  <div class="wrapper red-wrapper">
    <div class="container display-unavailable-medias">
      <h4>
        Profitez de notre collection <%= @next_subscription %> en <strong><%= link_to "changeant d'abonnement", user_path(current_user) %></strong>
      </h4>
      <div class="category-row">
        <% @medias_unavailable.each do |media| %>
          <div class="media-padding">
            <%= cl_image_tag media.photos.first.url, class: 'media-card', width: 400 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

