<div class="container">
  <div class="media-page">
    <div>
      <br>
      <% @media.photos.each do |photo| %>
          <div class="media-photo" style="background-image: url('<%= image_path photo.url, crop: :fill;%>'); background-size: cover;">
          </div>
        <% end %>
    </div>
  <div class="media-show">
    <h1><%= @media.title %></h1>
    <div class="artist">
      <p>By:</p>
      <p><%= @media.artist.name %></p>
    </div>
    <div class="media-desc">
      <p>Tags:</p>
      <% @media.tags.each do |tag| %>
        <p>#<%= tag.name %></p>
      <% end %>
    </div>
    <div class="media-add-rental">
      <%= simple_form_for @rental do |f| %>
        <%#= f.hidden :media %>
        <%#= f.hidden :user %>
        <%= f.button :submit, '+', class: 'btn round-wall' %>
      <% end %>
    </div>

  </div>
</div>
</div>


