<div class="container">

  <div class="media-desc">
    <h1><%= @media.title %></h1>
    <% if @media.tags != [] %>
      <p><%= @media.tags.first.name %></p>
    <% end %>
  </div>

  <div class="media-photo">
    <%= @media.photos.first.url %>
  </div>

<%= simple_form_for @rental do |f| %>
  <%= f.hidden_field :media_id %>
  <%= f.hidden_field :user_id %>
  <%= f.button :submit, class: 'btn btn-wall' %>
<% end %>

</div>


