<div class="wrapper grey-wrapper">
<div class="container" id="profile-container">
  <div class="fiche-ext">
  <div class="">
    <h1><%= @media.title %></h1>
    <br>
    <% if @media.category.name == "Vidéo" %>
       <%= video_tag @media.photos.first.url, class: 'media-photo', controls: true, autoplay: true, loop: true %>
    <% else %>
      <% @media.photos.each do |photo| %>
        <div class="media-photo" style="background-image: url('<%= cl_image_path photo.url, crop: :fill;%>'); background-size: cover;">
        </div>
      <% end %>
    <% end %>
    <br>
    <h4><strong>Description:</strong></h4>
    <p><%= @media.description %></p>
    <% if @media.tags != [] %>
      <h4 class="tags"><strong>Tags:</strong></h4>
      <div class="row">
        <% @media.tags.each do |tag| %>
        <div class="col-xs-3 col-sm-3">
          <div class="tag-btn">
            <p>#<%= tag.name %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <div class="fiche-int">
      <div>
        <h4><strong>Un peu plus sur <%= link_to @media.artist.name, artist_path(@media.artist) %></strong></h4>
        <p class="artist-desc"><%= @media.artist.description.truncate(700, separator:" ") %> </p>
      </div>
      <div>
        <%= cl_image_tag @media.artist.photo, class:'profile-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
      </div>
    </div>

    <div class="buttons-list">
      <span>
        <br>
        <h4 class="options-title"><strong>Vos options</strong></h4>
       <!--  <#% if current_user.rentals.where(media: @media, active: true) != [] %>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cette oeuvre fait déjà partie de votre collection!">
            <button class="btn small-wall" style="pointer-events: none;" type="button" disabled>Ajouter</button>
          </span> -->
<!--         <#% elsif current_user.rentals.where(active: true).size >= current_user.subscription_type.rentals_number %>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Votre collection est pleine">
            <button class="btn small-wall" style="pointer-events: none;" type="button" disabled>Ajouter</button>
          </span> -->
        <% if !@media.packages.include?(current_user.package) %>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cette oeuvre ne fait pas partie de votre package!">
            <button class="btn small-wall" style="pointer-events: none;" type="button" disabled>Afficher l'oeuvre</button>
          <%= link_to "Découvrir les autres packages", packages_path %>
          </span>
        <%# else %>
          <%#= simple_form_for @rental do |f| %>
            <%#= f.hidden_field :media_id %>
            <%#= f.hidden_field :user_id %>
            <%#= f.button :submit, 'Ajouter', class: 'btn small-wall' %>
          <%# end %>
        <% elsif @rental.display %>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cette oeuvre est déjà en cours d'affichage">
            <button class="btn small-wall" style="pointer-events: none;" type="button" disabled>Afficher l'oeuvre</button>
          </span>
        <% else %>
          <span>
            <%= link_to "Afficher sur mon cadre", rental_path(@rental, display: true), method: :patch, class: 'btn small-wall' %>
          </span>
        <% end %>
        <%# if current_user.rentals.where(media: @media, active: true) != [] %>
        <!-- <span>
          <%#= link_to "Retirer", rental_path(current_user.rentals.where(media: @media, active: true).first), method: :patch, class: 'btn small-wall' %>
          <%#= link_to "Afficher sur mon cadre", '#', class: 'btn small-wall' %>
        </span> -->
        <%# end %>
      </span>
    </div>

    </div>

  </div>

  </div>


</div>
</div>
<%= render 'shared/footer' %>



