<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 50%), url(<%= asset_path 'background3.jpg' %>);">

<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-xs-12 col-sm-4">
      <div class="sign-up-form">
        <h1>Edit your profile</h1>
        <br>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "First Name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Last Name" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        placeholder: "********" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        placeholder: "********" %>
            <% f.hidden_field :subscription_type, value: 0 %>
            <label class="btn-photo" value='Photo:'>
              Add a photo
              <span style="display:none;">
                <%= f.input :photo, required: true, multiple: true, name: 'photo' %>
              </span>
            </label>
            <%= f.input :photo_cache, as: :hidden %>
            <br>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Edit profile", class: 'btn btn-wall' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
