<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 50%), url(<%= asset_path 'background3.jpg' %>);">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-xs-12 col-sm-4">
      <div class="fiche">
        <div>
          <h1>Mon Profil</h1>
          <br>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <% if @user.subscription_type.level == 0 %>
            <p>Vous n'avez pas d'abonnement pour le moment.</p>
            <div class="">
              <div class="subscription-types">
                <% i = 0 %>
                <% @subscription_types.each do |subscription_type| %>
                  <%= link_to subscription_type_path(subscription_type) do %>
                    <div class="subscription-<%=i + 1%>">
                      <span class="text-center">
                      <p><strong><%= subscription_type.name %></strong></p>
                      <p><%= subscription_type.price %>€/mois</p>
                      </span>
                    </div>
                    <% i += 1 %>
                  <% end %>
                <% end %>
              </div>
          <% else %>
            <p> Mon abonnement : </p>
            <div class="subscription-4">
                <span class="text-center">
                  <p><strong><%= @user.subscription_type.name %></p></strong></p>
                  <p><%= @user.subscription_type.price_cents / 100 %>€/mois</p>
                </span>
            </div>
            <% if @subscription_types != [] %>
            <p> Profitez d'encore plus de choix en changeant d'abonnement: </p>
              <div class="">
                <div class="subscription-types">
                  <% i = 0 %>
                  <% @subscription_types.each do |subscription_type| %>
                    <%= link_to subscription_type_path(subscription_type) do %>
                      <div class="subscription-<%=i + 1%>">
                        <span class="text-center">
                        <p><strong><%= subscription_type.name %></strong></p>
                        <p><%= subscription_type.price %>€/mois</p>
                        </span>
                      </div>
                      <% i += 1 %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <br><br>
          <%= link_to 'Modifier mon Profil', edit_user_path(@user), class:'btn-wall' %>
          <%= link_to 'Voir tous les abonnements', subscription_types_path, class:'small-link' %>
        </div>
        <div>
          <% if @user.photo?%>
            <%= cl_image_tag @user.photo, class:'profile-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
          <% else %>
            <%= image_tag 'emptyavatar.jpg', class:'profile-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
