<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 50%), url(<%= asset_path 'background3.jpg' %>);">



<div class="">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-xs-12 col-sm-4">
      <div class="fiche">
        <div>
          <h1>Mon Profil</h1>
          <br>
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <% if @user.subscription_type.level == nil %>
            <p>Vous n'avez pas d'abonnement pour le moment.</p>
            <div class="">
              <div class="subscription-types">
                <div class="subscription-1">
                  <span class="text-center">
                  <p><strong>Standard</strong></p>
                  <p>4.99€/mois</p>
                  </span>
                </div>
                <div class="subscription-2">
                  <span class="text-center">
                  <p><strong>Advanced</strong></p>
                  <p>10.99€/mois</p>
                  </span>
                </div>
                <div class="subscription-3">
                  <span class="text-center">
                  <p><strong>Premium</strong></p>
                  <p>30.99€/mois</p>
                  </span>
                </div>
              </div>
            </div>
          <% else %>
            <p>Subscription Type :
              <div class="subscription-3">
                  <span class="text-center">
                  <p><strong><%= @user.subscription_type.name %></p></strong></p>
                  <p><%= @user.subscription_type.price_cents %>€/mois</p>
                  </span>
              </div>
          <% end %>
          <br><br>
          <%= link_to 'Modifier mon Profil', edit_user_path(@user), class:'btn-wall' %>
        </div>
        <div>
          <%= cl_image_tag @user.photo, class:'profile-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
        </div>
      </div>
    </div>
  </div>
</div>
