<% if @rental.display == true %>
  <% if @rental.media.category.name == "Vidéo" %>
    <%= video_tag @rental.media.photos.first.url, class: 'media-displayed', controls: true, autoplay: true, loop: true%>
  <% else %>
    <div class="media-displayed" style="background-image: url('<%= cl_image_path @rental.media.photos.first.url %>'); background-size: cover;">
    </div>
  <% end %>

<% elsif @upload != nil %>
  <div class="media-displayed" style="background-image: url('<%= cl_image_path @upload.photo %>'); background-size: cover;">
  </div>
<% end %>

<% content_for :after_js do %>
  <script>
    App['user_<%= current_user.id %>'] = App.cable.subscriptions.create(
      { channel: 'UserChannel', user_id: <%= current_user.id %> },
      { received: (data) => {
        console.log(data)
        const element = document.querySelector('.media-displayed');
        element.style.backgroundImage = `url(${data.image.url})`
      } }
    )
  </script>
<% end %>
