<div class="container">
  <h4 id='categ-title'>Ma Collection</h4>
    <div class="rental-cards">
      <div class="row">
        <% @active_rentals.each do |rental| %>
            <div class="col-md-6 col-xs-12">
              <%= link_to media_path(rental.media) do %>
                <div class="full-rental card-rental" style="background-image: url('<%= image_path rental.media.photos.first.url %>'); background-size: cover;">
<!--                   <div class="full-rental-overlay">
                    <span class="text-center">
                      <h4><%= rental.media.title %></h4>
                      <p><%#= rental.media.artist.name %></p>
                    </span>
                  </div> -->
                  <div class="rental-btn-group">
                    <%= link_to "-", rental_path(rental), method: :patch, class: 'btn rental-round-wall' %>
                    <%= link_to "Afficher sur mon cadre", '#', class: 'btn small-wall' %>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
          <% (4 - @active_rentals.size).times do %>
            <div class="col-md-6 col-xs-12">
              <%= link_to medias_path do %>
                <div class="empty-rental card-rental" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%), url('<%= image_path @images.sample %>'); background-size: cover;">
                  <div class="plus">
                    <i class="fas fa-plus"></i>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
    </div>
  </div>
  <h4 id='categ-title'>Mes précédentes locations</h4>
  <div class="category-row">
              <% @former_rentals.each do |rental| %>
                <%= link_to media_path(rental.media) do %>
                  <div class="media-card" style="background-image: url('<%= image_path rental.media.photos.first.url, crop: :fill;%>'); background-size: cover;">
                  </div>
              <% end %>
            <% end %>
          </div>
</div>
