<div class="container">
  <h4 class='categ-title'>Ma Collection</h4>
    <div class="rental-cards">
      <div class="row">
        <% @active_rentals.each do |rental| %>
            <div class="col-md-6 col-xs-12">
              <%= link_to media_path(rental.media_id) do %>
                <div class="full-rental card-rental" style="background-image: url('<%= image_path rental.media.photos.first.url %>'); background-size: cover;">
                </div>
              <% end %>
                <div class="rental-btn-group">
                  <%= link_to "-", rental_path(rental, active: false), method: :patch, class: 'btn rental-round-wall' %>
                  <%= link_to "Afficher sur mon cadre", rental_path(rental, display: true), method: :patch, class: 'btn small-wall' %>
                </div>
            </div>
        <% end %>
          <% (4 - @active_rentals.size).times do %>
            <div class="col-md-6 col-xs-12">
              <%= link_to medias_path do %>
                <div class="empty-rental card-rental" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%), url('<%= image_path Photo.all.sample.url %>'); background-size: cover;">
                  <div class="plus">
                    <i class="fas fa-plus"></i>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
    </div>
    <div class="user-uploads">
      <h4 class='categ-title'>Mes photos  <%= link_to 'Voir tout', user_uploads_path(current_user), id: 'link-to-uploads' %></h4>
      <% if @uploads != [] %>
        <div class="upload-cards">
          <div class="row">
            <% @uploads.last(3).each do |upload| %>
              <div class="media-padding">
                <div class="col-sm-6 col-md-4">
                  <div class="upload-card">
                    <div class="upload-card-top" style="background-image: url('<%= cl_image_path upload.photo %>'); background-size: cover;">
                    </div>
                    <div class="upload-card-bottom">
                      <p><strong><%= upload.name.capitalize %></strong></p>
                      <div class="upload-link-list">
                        <%= link_to '#', class: 'upload-link' do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                        <%= link_to '#', class: 'upload-link' do %>
                          <i class="fas fa-tv"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to 'Télécharger une photo', new_user_upload_path(current_user), class: 'btn btn-wall' %>
    </div>
  </div>
  <% if current_user.rentals.where(active: false) != [] %>
    <h4 id='categ-title'>Mes précédentes locations</h4>
    <div class="category-row">
      <% @former_rentals.each do |rental| %>
        <%= link_to media_path(rental.media) do %>
          <div class="media-card" style="background-image: url('<%= image_path rental.media.photos.first.url, crop: :fill;%>'); background-size: cover;">
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
