<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 50%), url(<%= asset_path 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>Le Smart Art s'installe chez Vous </h1>
    <p>Décorez votre <span id="banner-typed-text"></span></p>
    <a class="btn btn-primary btn-lg">Get it now</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'cuba.jpg' %>);">
        <div class="card-description">
        <h2>Photography</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'cuba.jpg' %>);">
        <div class="card-description">
        <h2>Photography</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'cuba.jpg' %>);">
        <div class="card-description">
        <h2>Photography</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'cuba.jpg' %>);">
        <div class="card-description">
        <h2>Photography</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>





