<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'logo.png' %>
    <title>Wall'Art</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
      <%= yield %>
      <% unless controller = "medias" && action = "show" %>
        <%= render 'shared/footer' %>
      <% end %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
  </body>
</html>

